/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-dialog-shadow,
.ph-dialog-main {
  position: fixed;
  left: 0;
  width: 100%;
}
.ph-dialog-shadow {
  top: 0;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
}
.ph-dialog-main {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.ph-dialog-content {
  position: relative;
}
.ph-dialog-body .ph-dialog-prompt-text {
  margin-bottom: 0.16rem;
}
.ph-dialog-body .ph-input {
  margin-bottom: 0.16rem;
}
.ph-dialog-body .ph-input:last-child {
  margin-bottom: 0;
}
.ph-dialog-content {
  width: 72.2667%;
  padding: 0.48rem 0 0;
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 0.12rem;
  -moz-border-radius: 0.12rem;
  border-radius: 0.12rem;
  background-clip: padding-box;
  text-align: center;
}
.ph-dialog-content .ph-dialog-close {
  position: absolute;
  width: 0.28rem;
  height: 0.28rem;
  top: 0.24rem;
  right: 0.24rem;
  font-size: 100%;
  color: #ccc;
}
.ph-dialog-content .ph-dialog-title,
.ph-dialog-content .ph-dialog-body.ph-dialog-only {
  line-height: 0.48rem;
  font-size: 0.36rem;
  color: #333;
}
.ph-dialog-content .ph-dialog-title {
  margin: 0 0.4rem 0.16rem;
}
.ph-dialog-content .ph-dialog-body {
  margin: 0 0.4rem 0.56rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #666;
}
.ph-dialog-content .ph-dialog-body.ph-dialog-only {
  margin: 0.4rem 0.4rem 0.56rem;
}
.ph-dialog-content .ph-dialog-picture {
  width: 60%;
  padding-top: 0.2rem;
  margin: 0 auto 0.4rem;
}
.ph-dialog-content .ph-dialog-picture img {
  display: block;
  width: 100%;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group .ph-button {
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-default {
  border-top: 1PX solid #e1e1e1;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-default .ph-button {
  border-right: 1PX solid #e1e1e1;
  border-radius: 0;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-default .ph-button:first-child {
  border-bottom-left-radius: 0.12rem;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-default .ph-button:last-child {
  border-bottom-right-radius: 0.12rem;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-tacked {
  border-top: 0;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-tacked .ph-button {
  border-top: 1PX solid #e1e1e1;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-tacked .ph-button:first-child {
  border-radius: 0;
}
.ph-dialog-content .ph-dialog-footer .ph-button-group-tacked .ph-button:last-child {
  -webkit-border-radius: 0 0 0.12rem 0.12rem;
  -moz-border-radius: 0 0 0.12rem 0.12rem;
  border-radius: 0 0 0.12rem 0.12rem;
  background-clip: padding-box;
}
.ph-dialog-prompt .ph-dialog-title {
  margin: 0 0.4rem;
}
.ph-dialog-prompt .ph-dialog-body {
  margin: 0.48rem 0.4rem 0.4rem;
}
.ph-dialog-prompt .ph-input {
  margin-bottom: 0.16rem;
}
.ph-dialog-prompt .ph-input:last-child {
  margin-bottom: 0;
}
.ph-dialog-explain .ph-dialog-title {
  margin: 0 0.4rem 0.4rem;
}
.ph-dialog-explain .ph-dialog-body {
  line-height: 0.4rem;
  text-align: left;
}
.ph-dialog-explain .ph-dialog-body ul {
  padding-bottom: 0.68rem;
}
.ph-dialog-explain .ph-dialog-body li {
  margin-bottom: 0.36rem;
}
