/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-grid {
  overflow: hidden;
}
.ph-grid-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}
.ph-row {
  margin: 0 -0.13rem;
  /*width: 100%;*/
}
.ph-row:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.ph-row.ph-no-padding {
  padding: 0;
  margin: 0;
}
.ph-row.ph-no-padding > .ph-col {
  padding: 0;
}
.ph-col {
  float: left;
  width: 100%;
  padding: 0.04rem 0.13rem;
}
/* Column Offsets */
.ph-col-offset-5 {
  margin-left: 5%;
  width: auto;
}
.ph-col-offset-10 {
  margin-left: 10%;
  width: auto;
}
.ph-col-offset-15 {
  margin-left: 15%;
  width: auto;
}
.ph-col-offset-20 {
  margin-left: 20%;
  width: auto;
}
.ph-col-offset-25 {
  margin-left: 25%;
  width: auto;
}
.ph-col-offset-30 {
  margin-left: 30%;
  width: auto;
}
.ph-col-offset-35 {
  margin-left: 35%;
  width: auto;
}
.ph-col-offset-40 {
  margin-left: 40%;
  width: auto;
}
.ph-col-offset-45 {
  margin-left: 45%;
  width: auto;
}
.ph-col-offset-50 {
  margin-left: 50%;
  width: auto;
}
.ph-col-offset-55 {
  margin-left: 55%;
  width: auto;
}
.ph-col-offset-60 {
  margin-left: 60%;
  width: auto;
}
.ph-col-offset-65 {
  margin-left: 65%;
  width: auto;
}
.ph-col-offset-70 {
  margin-left: 70%;
  width: auto;
}
.ph-col-offset-75 {
  margin-left: 75%;
  width: auto;
}
.ph-col-offset-80 {
  margin-left: 80%;
  width: auto;
}
.ph-col-offset-85 {
  margin-left: 85%;
  width: auto;
}
.ph-col-offset-90 {
  margin-left: 90%;
  width: auto;
}
.ph-col-offset-95 {
  margin-left: 95%;
  width: auto;
}
.ph-col-offset-100 {
  margin-left: 100%;
  width: auto;
}
.ph-col-offset-33,
.ph-col-offset-34 {
  margin-left: 33.3333%;
  width: auto;
}
.ph-col-offset-66,
.ph-col-offset-67 {
  margin-left: 66.6666%;
  width: auto;
}
/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.ph-col-5 {
  float: left;
  width: 5%;
}
.ph-col-10 {
  float: left;
  width: 10%;
}
.ph-col-15 {
  float: left;
  width: 15%;
}
.ph-col-20 {
  float: left;
  width: 20%;
}
.ph-col-25 {
  float: left;
  width: 25%;
}
.ph-col-30 {
  float: left;
  width: 30%;
}
.ph-col-35 {
  float: left;
  width: 35%;
}
.ph-col-40 {
  float: left;
  width: 40%;
}
.ph-col-45 {
  float: left;
  width: 45%;
}
.ph-col-50 {
  float: left;
  width: 50%;
}
.ph-col-55 {
  float: left;
  width: 55%;
}
.ph-col-60 {
  float: left;
  width: 60%;
}
.ph-col-65 {
  float: left;
  width: 65%;
}
.ph-col-70 {
  float: left;
  width: 70%;
}
.ph-col-75 {
  float: left;
  width: 75%;
}
.ph-col-80 {
  float: left;
  width: 80%;
}
.ph-col-85 {
  float: left;
  width: 85%;
}
.ph-col-90 {
  float: left;
  width: 90%;
}
.ph-col-95 {
  float: left;
  width: 95%;
}
.ph-col-100 {
  float: left;
  width: 100%;
}
.ph-col-33,
.ph-col-34 {
  float: left;
  width: 33.3333%;
}
.ph-col-66,
.ph-col-67 {
  float: left;
  width: 66.6666%;
}
.ph-grid-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.1rem;
}
.ph-grid-row:first-child {
  margin-top: 0;
}
.ph-grid-row label {
  -moz-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1  ;
  -moz-box-flex: 1;
  -moz-flex: 1  ;
  -ms-flex: 1  ;
  flex: 1  ;
}
