/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-image {
  overflow: hidden;
  width: 100%;
}
.ph-image img {
  display: block;
  width: auto;
  height: auto;
}
.ph-image-cover img,
.ph-image-contain img {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
