/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-image-list {
  overflow: hidden;
  padding-top: 0.16rem;
  margin: 0 0.32rem;
}
.ph-image-list > * {
  float: left;
  margin: 0 0.16rem 0.16rem 0;
  background-color: #fff;
}
dl.ph-image-item dt img {
  display: block;
  width: 100%;
  border: none;
}
dl.ph-image-item dd {
  padding: 0.16rem;
}
dl.ph-image-item dd p {
  margin-bottom: 0.16rem;
  line-height: 1;
  font-size: 0.28rem;
}
dl.ph-image-item dd p.ph-image-title {
  font-weight: 800;
}
dl.ph-image-item dd p.ph-image-desp {
  font-size: 0.24rem;
  color: #999;
}
dl.ph-image-item dd p:last-child {
  margin-bottom: 0;
}
.ph-image-list.ph-column-1 > * {
  width: calc((100% + 0.16rem)/1 -  0.16rem);
}
.ph-image-list.ph-column-1 > *:nth-child(1n) {
  margin-right: 0;
}
.ph-image-list.ph-column-2 > * {
  width: calc((100% + 0.16rem)/2 -  0.16rem);
}
.ph-image-list.ph-column-2 > *:nth-child(2n) {
  margin-right: 0;
}
.ph-image-list.ph-column-3 > * {
  width: calc((100% + 0.16rem)/3 -  0.16rem);
}
.ph-image-list.ph-column-3 > *:nth-child(3n) {
  margin-right: 0;
}
.ph-image-list.ph-column-4 > * {
  width: calc((100% + 0.16rem)/4 -  0.16rem);
}
.ph-image-list.ph-column-4 > *:nth-child(4n) {
  margin-right: 0;
}
.ph-image-list.ph-column-5 > * {
  width: calc((100% + 0.16rem)/5 -  0.16rem);
}
.ph-image-list.ph-column-5 > *:nth-child(5n) {
  margin-right: 0;
}
.ph-image-list.ph-column-6 > * {
  width: calc((100% + 0.16rem)/6 -  0.16rem);
}
.ph-image-list.ph-column-6 > *:nth-child(6n) {
  margin-right: 0;
}
.ph-image-list.ph-column-7 > * {
  width: calc((100% + 0.16rem)/7 -  0.16rem);
}
.ph-image-list.ph-column-7 > *:nth-child(7n) {
  margin-right: 0;
}
.ph-image-list.ph-column-8 > * {
  width: calc((100% + 0.16rem)/8 -  0.16rem);
}
.ph-image-list.ph-column-8 > *:nth-child(8n) {
  margin-right: 0;
}
