/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
@font-face {
  font-family: "iconfont";
  src: url('iconfont/iconfont.eot');
  /* IE9*/
  src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */ url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.gfs-icon {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002rem;
  -moz-osx-font-smoothing: grayscale;
}
/* 更新时覆盖以下内容，以上内容如果覆盖使用时会报错 */
.icon-zuoxuanzhuan:before {
  content: "\e604";
}
.icon-more:before {
  content: "\e608";
}
.icon-minus:before {
  content: "\e609";
}
.icon-menu:before {
  content: "\e60a";
}
.icon-add:before {
  content: "\e60b";
}
.icon-camera-fill:before {
  content: "\e60c";
}
.icon-favorite-fill:before {
  content: "\e60d";
}
.icon-clock:before {
  content: "\e60e";
}
.icon-wifi:before {
  content: "\e60f";
}
.icon-camera:before {
  content: "\e610";
}
.icon-place-fill:before {
  content: "\e611";
}
.icon-favorite:before {
  content: "\e612";
}
.icon-home-fill:before {
  content: "\e613";
}
.icon-home:before {
  content: "\e614";
}
.icon-radio-checked-fill:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e616";
}
.icon-check:before {
  content: "\e617";
}
.icon-arrow-upward:before {
  content: "\e618";
}
.icon-checkbox-checked-fill:before {
  content: "\e619";
}
.icon-checkbox-unchecked:before {
  content: "\e61a";
}
.icon-radio-checked:before {
  content: "\e61b";
}
.icon-checkbox-checked:before {
  content: "\e61c";
}
.icon-arrow-dropup:before {
  content: "\e61d";
}
.icon-radio-unchecked:before {
  content: "\e61e";
}
.icon-chevron-left:before {
  content: "\e61f";
}
.icon-expand-more:before {
  content: "\e620";
}
.icon-arrow-dropdown:before {
  content: "\e621";
}
.icon-more-vertical:before {
  content: "\e622";
}
.icon-arrow-downward:before {
  content: "\e623";
}
.icon-expand-less:before {
  content: "\e624";
}
.icon-chevron-right:before {
  content: "\e625";
}
.icon-search:before {
  content: "\e626";
}
.icon-star:before {
  content: "\e627";
}
.icon-star-fill:before {
  content: "\e628";
}
.icon-folder-fill:before {
  content: "\e629";
}
.icon-folder:before {
  content: "\e62a";
}
.icon-upload:before {
  content: "\e62b";
}
.icon-download:before {
  content: "\e62c";
}
.icon-delete:before {
  content: "\e62d";
}
.icon-refresh:before {
  content: "\e62e";
}
.icon-list:before {
  content: "\e62f";
}
.icon-setting:before {
  content: "\e630";
}
.icon-arrow-back:before {
  content: "\e631";
}
.icon-arrow-forward:before {
  content: "\e632";
}
.icon-share:before {
  content: "\e633";
}
.icon-map:before {
  content: "\e634";
}
.icon-calendar:before {
  content: "\e635";
}
.icon-location:before {
  content: "\e636";
}
.icon-place:before {
  content: "\e637";
}
.icon-folder-open-fill:before {
  content: "\e638";
}
.icon-folder-open:before {
  content: "\e639";
}
.icon-dialogue-fill:before {
  content: "\e63a";
}
.icon-alert-fill:before {
  content: "\e63b";
}
.icon-filter:before {
  content: "\e63c";
}
.icon-alert:before {
  content: "\e63d";
}
.icon-dialogue:before {
  content: "\e63e";
}
.icon-feedback:before {
  content: "\e63f";
}
.icon-help:before {
  content: "\e640";
}
.icon-message-fill:before {
  content: "\e641";
}
.icon-message:before {
  content: "\e642";
}
.icon-question-fill:before {
  content: "\e643";
}
.icon-text:before {
  content: "\e644";
}
.icon-question:before {
  content: "\e645";
}
.icon-tip-fill:before {
  content: "\e646";
}
.icon-user-fill:before {
  content: "\e647";
}
.icon-user:before {
  content: "\e648";
}
.icon-phone:before {
  content: "\e649";
}
.icon-tip:before {
  content: "\e64a";
}
.icon-arrow-up:before {
  content: "\e64b";
}
.icon-arrow-down:before {
  content: "\e64c";
}
.icon-loading:before {
  content: "\e64d";
}
.icon-font:before {
  content: "\e64e";
}
.icon-sort:before {
  content: "\e64f";
}
.icon-id:before {
  content: "\e650";
}
.icon-scale:before {
  content: "\e651";
}
.icon-clear:before {
  content: "\e652";
}
.icon-cancel:before {
  content: "\e653";
}
.icon-success-fill:before {
  content: "\e654";
}
.icon-strategy:before {
  content: "\e655";
}
.icon-add-circle:before {
  content: "\e656";
}
.icon-add-circle-fill:before {
  content: "\e657";
}
.icon-fail-fill:before {
  content: "\e658";
}
.icon-fail:before {
  content: "\e659";
}
.icon-success:before {
  content: "\e65a";
}
.icon-youxuanzhuan:before {
  content: "\e65b";
}
.icon-eraser:before {
  content: "\e65c";
}
.icon-zan-fill:before {
  content: "\e65d";
}
.icon-modify:before {
  content: "\e65e";
}
.icon-zan:before {
  content: "\e65f";
}
.ph-list {
  background-color: #fff;
}
.ph-list input[type=text],
.ph-list input[type=password],
.ph-list input[type=search],
.ph-list textarea {
  margin-bottom: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ph-list-header {
  padding: 0.2rem 0.32rem;
  background-color: #f0f0f0;
  font-size: 0.28rem;
  color: #666;
}
.ph-list-item.ph-row {
  position: relative;
  margin: 0;
  margin-left: 0.32rem;
  border-bottom: 1PX solid #f0f0f0;
  font-size: 0.28rem;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.ph-list-item.ph-row:last-child {
  border-bottom: none;
}
.ph-navigate-right:after {
  display: inline-block;
  position: absolute;
  right: 0.26rem;
  top: 50%;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "iconfont" !important;
  font-size: 0.32rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002rem;
  -moz-osx-font-smoothing: grayscale;
  content: "\e625";
  font-size: 0.36rem;
  color: #ccc;
}
.ph-list-item.ph-navigate-right .ph-list-col-tail {
  padding-right: 0.68rem;
}
.ph-list-item.ph-navigate-right:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.32rem;
  width: 0.32rem;
  height: 100%;
  background-color: transparent;
}
.ph-list-item.ph-navigate-right:active {
  background-color: #f9f9f9;
}
.ph-list-item.ph-navigate-right:active:before {
  background-color: #f9f9f9;
}
.ph-list-item-disabled .ph-list-col-heading,
.ph-list-item-disabled .ph-list-col input {
  color: #999;
  pointer-events: none;
}
.ph-list-item-disabled .gfs-icon-close,
.ph-list-item-disabled .gfs-icon-see,
.ph-list-item-disabled .gfs-icon-error {
  display: none;
}
.ph-list-item-error .ph-list-col input {
  color: #e2391a;
}
.ph-list-item-error .gfs-icon-error {
  color: #f64e2d;
}
.ph-list-item-error.ph-navigate-right .ph-col-heading {
  color: #e2391a;
}
.ph-list-item-required:before {
  content: '*';
  position: absolute;
  left: -0.2rem;
  height: 100%;
  color: #f64e2d;
  line-height: 1.04rem;
  font-size: 0.32rem;
}
.ph-list-item .ph-list-col {
  padding: 0.24rem 0.32rem 0.24rem 0;
}
.ph-list-item .ph-list-col > * {
  vertical-align: top;
}
.ph-list-item .ph-list-col-heading {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -moz-flex: none;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  -webkit-box-flex: none;
  -webkit-flex: none  ;
  -moz-box-flex: none;
  -moz-flex: none  ;
  -ms-flex: none  ;
  flex: none  ;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  padding-right: 0.56rem;
}
.ph-list-item .ph-list-col-heading .gfs-icon {
  float: left;
  margin-right: 0.16rem;
  font-size: 0.32rem;
}
.ph-list-item .ph-list-col-tail {
  text-align: right;
}
.ph-list-item .ph-list-col-tail input {
  text-align: right;
}
.ph-list-item .ph-list-col-tail input:disabled {
  background-color: transparent;
  color: #333;
}
.ph-list-item label:not(.ph-multi-group) {
  height: 0.4rem;
  line-height: 0.4rem;
}
.ph-list-item label:not(.ph-multi-group).ph-sub-heading {
  height: 0.32rem;
  font-size: 0.24rem;
  color: #999;
}
.ph-list-item .ph-input input,
.ph-list-item .ph-input .ph-input-placeholder {
  height: 0.4rem;
  padding: 0;
}
.ph-list-item .ph-input .gfs-icon {
  right: 0;
}
.ph-list-item .ph-input-clear input,
.ph-list-item .ph-input-see input {
  padding-right: 0.32rem;
}
.ph-list-item .ph-input-clear.ph-input-see input {
  padding-right: 0.88rem;
}
.ph-list-item .ph-input-clear.ph-input-see .gfs-icon-close {
  right: 0.56rem;
}
.ph-list-item .ph-switch {
  margin-top: -0.16rem;
}
.ph-list-item .ph-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 1.2rem;
  height: 0.9rem;
  background-color: #f0f0f0;
}
.ph-list-item .ph-image img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
