/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-menu-placeholder {
  position: relative;
  z-index: 99;
}
.ph-menu-placeholder .ph-menu-ceiling {
  position: fixed;
  width: 100%;
}
.ph-menu-body {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  height: 100%;
}
.ph-menu-body .ph-menu-nav-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ph-menu-body .ph-menu-nav-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ph-menu-body-top {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
}
.ph-menu-body-left,
.ph-menu-body-left-full {
  left: 0;
}
.ph-menu-body-right,
.ph-menu-body-right-full {
  right: 0;
}
.ph-menu-body-left-full,
.ph-menu-body-right-full,
.ph-menu-body-full-screen {
  top: 0;
}
.ph-menu-body-full-screen {
  width: 100%;
}
.ph-menu-header {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0.88rem;
  padding-right: 0.32rem;
  background-color: #ff6633;
  line-height: 0.88rem;
  color: #fff;
}
.ph-menu-header .gfs-icon {
  padding: 0 0.32rem;
  font-size: 0.3rem;
  font-weight: 800;
}
.ph-menu-header-left > * {
  float: left;
}
.ph-menu-header-right {
  padding-right: 0;
  padding-left: 0.32rem;
}
.ph-menu-header-right .gfs-icon {
  float: right;
}
.ph-menu-header-right .ph-menu-header-content {
  float: left;
}
.ph-menu-body {
  padding: 0;
  background-color: #fff;
}
.ph-menu-body-left,
.ph-menu-body-right {
  height: calc(100% -  0.88rem);
}
.ph-menu-close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.2rem;
  font-size: 0.36rem;
  color: #ff6633;
}
.ph-menu-nav {
  padding: 0;
  margin: 0;
}
.ph-menu-nav .ph-menu-item a {
  display: block;
  padding: 0.24rem 0.32rem;
  font-size: 0.32rem;
  color: #666;
}
.ph-menu-nav .ph-menu-item .gfs-icon {
  margin: 0 0.24rem 0 0;
}
.ph-menu-nav .ph-menu-item.active a {
  color: #ff6633;
}
