/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-popup-shadow {
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
.ph-popup-top .ph-popup-main {
  top: 0;
}
.ph-popup-bottom .ph-popup-main {
  bottom: 0;
}
.ph-popup-main,
.ph-popup-shadow {
  position: fixed;
  left: 0;
  width: 100%;
}
.ph-popup-main {
  z-index: 10;
}
.ph-list .ph-list-item-active {
  color: #ff6633;
}
.ph-action-sheet {
  width: 94.6667%;
  margin: 0 auto 0.16rem;
}
.ph-action-sheet .ph-popup-item,
.ph-action-sheet .ph-popup-operate {
  height: 1.12rem;
  line-height: 1.12rem;
  background-color: #fff;
  font-size: 0.4rem;
  text-align: center;
  color: #ff6633;
}
.ph-action-sheet .ph-popup-item:active,
.ph-action-sheet .ph-popup-operate:active {
  background-color: #f9f9f9;
}
.ph-action-sheet .ph-popup-item {
  border-bottom: 1PX solid #e1e1e1;
}
.ph-action-sheet .ph-popup-item:first-child {
  -webkit-border-radius: 0.12rem 0.12rem 0 0;
  -moz-border-radius: 0.12rem 0.12rem 0 0;
  border-radius: 0.12rem 0.12rem 0 0;
  background-clip: padding-box;
}
.ph-action-sheet .ph-popup-item:last-child {
  border-bottom: none;
  -webkit-border-radius: 0 0 0.12rem 0.12rem;
  -moz-border-radius: 0 0 0.12rem 0.12rem;
  border-radius: 0 0 0.12rem 0.12rem;
  background-clip: padding-box;
}
.ph-action-sheet .ph-popup-tip {
  font-size: 0.32rem;
  color: #8F8E94;
  pointer-events: none;
}
.ph-action-sheet .ph-popup-delete {
  color: #f64e2d;
}
.ph-action-sheet .ph-popup-operate {
  margin-top: 0.16rem;
  -webkit-border-radius: 0.12rem;
  -moz-border-radius: 0.12rem;
  border-radius: 0.12rem;
  background-clip: padding-box;
  color: #333;
}
.ph-popup-picker {
  background-color: #fff;
}
.ph-picker-header {
  overflow: hidden;
  padding: 0.75rem;
  border-bottom: 0.01rem solid #bbb;
  text-align: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .ph-picker-header {
    background-image: -webkit-linear-gradient(bottom, #bbb 50%, transparent 50%);
    background-size: 100% 0.01rem;
    background-repeat: no-repeat;
    background-position: bottom;
    border: none;
  }
}
.ph-picker-header .ph-picker-title {
  font-size: 0.36rem;
}
.ph-picker-header .ph-picker-cancel,
.ph-picker-header .ph-picker-confirm {
  line-height: 1.25;
  font-size: 0.32rem;
  color: #0ba4db;
}
.ph-picker-header .ph-picker-cancel {
  float: left;
}
.ph-picker-header .ph-picker-confirm {
  float: right;
}
.ph-picker-body {
  position: relative;
  padding: 0.5rem 0;
}
.ph-picker-body:before,
.ph-picker-body:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5.4rem;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100% rgba(255, 255, 255, 0.4)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%);
  pointer-events: none;
}
.ph-picker-body:before {
  top: 0.5rem;
}
.ph-picker-body:after {
  bottom: 0.5rem;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}
.ph-picker-body .ph-picker-drag {
  overflow: hidden;
  height: 12.6rem;
}
.ph-picker-body .ph-picker-drag .ph-picker-select {
  text-align: center;
}
.ph-picker-body .ph-picker-drag .ph-picker-select li {
  line-height: 1.8rem;
  font-size: 0.28rem;
}
.ph-picker-body .ph-picker-drag .ph-picker-select li.selected {
  font-size: 0.32rem;
}
