/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-search-bar {
  position: relative;
}
.ph-search-bar .ph-button {
  display: inline-block;
}
.ph-search-bar {
  overflow: hidden;
  height: 0.88rem;
  padding: 0.14rem 0.24rem;
  background-color: #f0f0f0;
  white-space: nowrap;
}
.ph-search-bar .ph-input {
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.ph-search-bar input[type="search"] {
  background-color: #fff;
}
.ph-search-bar .ph-button {
  font-size: 0.32rem;
}
.ph-search-bar .ph-input-placeholder,
.ph-search-bar .ph-input-placeholder .gfs-icon {
  color: #999;
}
.ph-search-bar-focus .ph-input {
  width: calc(100% - 0.92rem);
}
