/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-swipe {
  position: relative;
  overflow: hidden;
}
.ph-swipe .ph-swipe-content {
  position: relative;
  z-index: 1;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  transition: transform 0.2s;
  background-color: #fff;
}
.ph-swipe-btns {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100%;
}
.ph-swipe-btns .ph-button {
  height: 100%;
  border-radius: 0;
}
