/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-tabs .ph-tab-nav {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.ph-tabs .ph-tab-panel {
  display: none;
  width: 100%;
}
.ph-tabs .ph-tab-panel.active {
  display: block;
}
.ph-tabs-vertical {
  margin: 0;
}
.ph-tabs-vertical .ph-tab-navs {
  padding: 0;
}
.ph-tabs-vertical .ph-tab-bd {
  position: relative;
  z-index: 1;
  padding: 0;
}
.ph-tabs {
  background-color: #fff;
}
.ph-tabs .ph-tab-navs {
  overflow-y: auto;
  margin: 0;
  border-bottom: 1PX solid #e1e1e1;
}
.ph-tabs .ph-tab-navs::-webkit-scrollbar {
  display: none;
}
.ph-tabs .ph-tab-nav {
  padding: 0;
  text-align: center;
}
.ph-tabs .ph-tab-nav a {
  display: block;
  min-width: 1.16rem;
  height: 0.88rem;
  padding: 0 0.32rem;
  border-bottom-width: 0.04rem;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  line-height: 0.84rem;
  white-space: nowrap;
  font-size: 0.28rem;
}
.ph-tabs .ph-tab-nav.active a {
  border-bottom-color: #ff6633;
  margin-bottom: -0.02rem;
  margin-right: 0;
  color: #ff6633;
}
.ph-tabs .ph-tab-panel {
  padding: 0;
}
.ph-tabs-short .ph-tab-nav {
  padding: 0 0.32rem;
}
.ph-tabs-short .ph-tab-nav a {
  display: inline-block;
  padding: 0 0.16rem;
}
.ph-tabs-vertical .ph-tab-navs {
  background-color: #f0f0f0;
  border-bottom: none;
}
.ph-tabs-vertical .ph-tab-nav {
  position: relative;
  text-align: left;
}
.ph-tabs-vertical .ph-tab-nav a {
  padding: 0 0.32rem;
  border: none;
  line-height: 0.88rem;
}
.ph-tabs-vertical .ph-tab-nav.active a {
  background-color: #fff;
  border: none;
}
.ph-tabs-vertical .ph-tab-nav.active {
  z-index: 2;
  color: #ff6633;
  border: none;
  border-right-color: #fff;
  margin-bottom: 0;
  margin-right: -0.02rem;
}
