/*30pt*/
/*18pt*/
/*17pt*/
/*16pt*/
/*15pt*/
/*14pt*/
/*12pt*/
.ph-toolbar {
  overflow: hidden;
  margin: 0;
}
.ph-toolbar .ph-col {
  padding: 0;
  white-space: nowrap;
}
.ph-toolbar .ph-toolbar-center {
  text-align: center;
  -moz-flex: 6;
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
  -webkit-box-flex: 6;
  -webkit-flex: 6  ;
  -moz-box-flex: 6;
  -moz-flex: 6  ;
  -ms-flex: 6  ;
  flex: 6  ;
}
.ph-toolbar .ph-toolbar-center .ph-button {
  line-height: 1;
}
.ph-toolbar .ph-toolbar-right {
  text-align: right;
}
.ph-toolbar {
  background-color: #fff;
  box-shadow: 0 0.02rem 0.02rem rgba(0, 0, 0, 0.15);
  font-size: 0.32rem;
  color: #ff6633;
}
.ph-toolbar .ph-col {
  height: 0.96rem;
  line-height: 0.96rem;
}
.ph-toolbar .ph-col .gfs-icon {
  font-size: 0.4rem;
}
.ph-toolbar .ph-col .icon-chevron-left {
  margin-left: -0.1rem;
}
.ph-toolbar .ph-toolbar-left {
  padding-left: 0.32rem;
}
.ph-toolbar .ph-toolbar-center .ph-toolbar-title {
  font-size: 0.36rem;
  color: #111;
}
.ph-toolbar .ph-toolbar-center .ph-button-group-segmente {
  display: block;
  padding-top: 0.2rem;
}
.ph-toolbar .ph-toolbar-right {
  padding-right: 0.32rem;
}
