.iconfont(){
    font-family:"iconfont" !important;
    font-size: 32px;
    font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.getSize(@size){
	width: @size;
	height: @size;
	font-size: @size;
}

.icon-size(){
	.ph-icon-xs:before{
		.getSize(@icon-xs-size);
	}
	.ph-icon-sm:before{
		.getSize(@icon-sm-size);
	}
	.ph-icon-md:before{
		.getSize(@icon-md-size);
	}
	.ph-icon-lg:before{
		.getSize(@icon-lg-size);
	}
	.ph-icon-xlg:before{
		.getSize(@icon-xlg-size);
	}
	.ph-icon-xxlg:before{
		.getSize(@icon-xxlg-size);
	}
}

.icon-skin(){
	.ph-icon-primary{
		color: @brand-primary;
    }

    .ph-icon-success{
    	color: @brand-success;
    }

    .ph-icon-tip{
    	color: @brand-tip;
    }

    .ph-icon-info{
    	color: @brand-info;
    }

    .ph-icon-error{
    	color: @brand-error;
    }

    .ph-icon-warning{
    	color: @brand-warning;
    }

    .ph-icon-danger{
    	color: @brand-danger;
    }

    .ph-icon-gray{
    	color: @gray-bb;
    }
}