//tab skin
.tab-skin() {
  .ui-tabs {
    .tab-nav {
      background: @white;
      &.active {
        color: @brand-primary;
        border-bottom-color: @brand-primary;
      }
    }
  }

}

//竖排
.tab-skin2() {
  .vertical {
    .tab-nav {
      background: @white;
      &.active {
        color: @brand-primary;
        border: @brand-primary;
        border-right-color: @brand-primary;
      }
    }
  }
}
