// 颜色
// --------------------------------------------------
// 品牌色
@brand-primary:             #ff6633;
@brand-primary-active:      #f26130;
@brand-primary-await:       #ffc2ad;
@brand-primary-light:       #fff1ed;
@brand-primary-deep:        #e35322;

// 中立色
@white: #fff;
@gray-f9: #f9f9f9;
@gray-f8: #f8f8f8;
@gray-f0: #f0f0f0;
@gray-e1: #e1e1e1;
@gray-cc: #ccc;
@gray-bb: #bbb;
@gray-99: #999;
@gray-66: #666;
@gray-33: #333;
@black: #000;

// 功能色
@brand-success: #49cb67;
@brand-success-light: #d4f6dc;
@brand-success-deep: #199235;

@brand-tip: #ffad3e;
@brand-tip-light: #fff4e3;
@brand-tip-deep: #e08f22;

@brand-error: #f64e2d;
@brand-error-light: #fcc9c0;
@brand-error-deep: #e2391a;

// 常用色
@brand-info: #4ea3d4;
@brand-warning: #ffad3e;
@brand-danger: #f54d2e;
@brand-loading: #ffad3e;


// 通用
// --------------------------------------------------
//默认body背景色
@body-bg:                   @gray-f0;

//链接
@link-color:                #0066cc;
@link-hover-color:          darken(@link-color,15%);
@link-hover-decoration:     none;

// Borders
@border-default-color:      #bbb;
@border-default:            1PX solid @border-default-color;

// 默认active背景色
@default-active-color:      @gray-f9;

//默认遮罩的颜色
@default-shadow-color:      rgba(0,0,0,.4);

// 常用参数数值
@spacing-x: 8px;
@spacing-2x: @spacing-x*2;
@spacing-3x: @spacing-x*3;
@spacing-4x: @spacing-x*4;
@spacing-5x: @spacing-x*5;

// 字体(英文Helvetica, Tahoma, Arial；中文'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei')
@font-family-default:       Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';

// 文字大小
@font-size-symbol:          60px; /*30pt*/
@font-size-headline:        36px; /*18pt*/
@font-size-title:           34px; /*17pt*/
@font-size-subtitle:        32px; /*16pt*/
@font-size-mainbody:        30px; /*15pt*/
@font-size-text:            28px; /*14pt*/
@font-size-tip:             24px; /*12pt*/

// 文字行高
@line-height-mainbody:      40px;
@line-height-text:          36px;
@line-height-tip:           32px;
@line-height-default:       21px;


// Accordion
// --------------------------------------------------
@accordion-header-height:   88px;
@accordion-header-padding:  0 32px 0 32px;
@accordion-header-border:   1PX solid @gray-f0;

@accordion-icon-size:       @font-size-tip;

@accordion-item-padding:    @accordion-header-padding;
@accordion-item-border:     @border-default-color;


// Badges
// --------------------------------------------------
@badge-height:              36px;
@badge-min-width:           @badge-height;
@badge-font-size:           @font-size-tip;
@badge-radius:              @badge-height / 2;
@badge-padding:             0 12px;
@badge-default-background:  @brand-error;
@badge-default-color:       @white;
@badge-inverted-padding:    0 10px 0 0;


// Buttons
// --------------------------------------------------
@btn-default-border:        1PX solid @gray-bb;
@btn-default-padding:       0 @spacing-3x;
@btn-default-radius:        4px;
@btn-icon-margin:           12px;

@btn-sm-height:             60px;
@btn-sm-min-width:          120px;

@btn-md-height:             80px;
@btn-md-min-width:          204px;

@btn-lg-height:             88px;
@btn-lg-min-width:          333px;
@btn-lg-margin:             24px;
@btn-lg-radius:             8px;


// Button Group
// --------------------------------------------------
@button-group-default-width: 331px;

@button-group-justify-width: 152px;
@button-group-justify-height: 56px;
@button-group-justify-radius: 8px;

@button-group-footer-padding: 20px 32px;
@button-group-footer-border: 1PX solid @gray-e1;
@button-group-footer-background: @white;


// Dialog
// --------------------------------------------------
@dialog-content-width:      72.2667%; // 540px
@dialog-content-padding:    48px 0 0;
@dialog-content-radius:     12px;

@dialog-title-margin:       0 40px 16px;
@dialog-title-line-height:  48px;
@dialog-title-font-size:    @font-size-headline; // 18px
@dialog-title-color:        @gray-33;

@dialog-body-margin:        0 40px 56px;
@dialog-body-line-height:   40px;
@dialog-body-font-size:     @font-size-text;
@dialog-body-color:         @gray-66;

@dialog-only-margin:        40px 40px 56px;

@dialog-close-top:          24px;
@dialog-close-right:        @dialog-close-top;
@dialog-close-font-size:    28px;
@dialog-close-color:        @gray-cc;

@dialog-btn-width:          auto;
@dialog-btn-margin:         2%;
@dialog-btn-border:         1PX solid @gray-e1;

// prompt
@prompt-title-margin:       0 40px;
@prompt-body-margin:        48px 40px 40px;
@prompt-input-margin:       20px;

// explain
@explain-title-margin:      0 40px 40px;
@explain-list-padding:      68px;
@explain-list-margin:       36px;

// picture
@dialog-picture-width: 60%;
@dialog-picture-padding: 20px;
@dialog-picture-margin: 0 auto 40px;


// Form 
// --------------------------------------------------
// Checkbox & Radio
@multi-group-height:        40px;
@multi-group-margin:        @spacing-4x;

@checkbox-size:             40px;
@checkbox-border-radius:    4px;
@checkbox-checked-border:   2px solid @brand-primary;
@checkbox-checked-background: #fff1ed;
@checkbox-disabled-border:  @gray-e1;
@checkbox-text-gap:         @spacing-2x;
@checkbox-text-top:         -9px;

@radio-size:                42px;

// Input Text
@input-default-height:      60px;
@input-default-padding:     10px 16px;
@input-default-radius:      4px;
@input-default-font-size:   @font-size-text;
@input-default-color: @gray-66;

@input-disabled-background: @gray-f8;
@input-disabled-color:      @gray-cc;

@input-search-background:   @gray-f0;
@input-search-padding:      10px 16px;
@input-search-radius:       @input-default-height/2;

@input-placeholder-padding: 0 16px;
@input-placeholder-icon-margin: 8px;

@input-icon-color:          @gray-cc;
@input-icon-size:           32px;
@input-icon-right:          16px;
@input-second-icon-right:   64px;
@input-padding-width-icon:  48px;
@input-padding-width-second-icon: 96px;

@input-heading-padding:     64px;

// Select
@select-box-shadow:         inset 0 1PX 1PX rgba(0, 0, 0, .1);

// Textarea
@textarea-padding:          @spacing-2x @spacing-3x;
@textarea-border:           @border-default;
@textarea-border-radius:    4px;
@textarea-line-height:      40px;
@textarea-font-size:        @font-size-text;
@textarea-color:            @gray-33;
@textarea-placeholder-color: @gray-cc;
@textarea-min-height:       227px;

@textarea-count-position-right: @spacing-2x;
@textarea-count-position-bottom: @spacing-2x;
@textarea-count-color:      @gray-99;

// switch
@switch-width:              104px;
@switch-height:             64px;
@switch-background:         #e5e5e5;
@switch-panel-width:        96px;
@switch-panel-height:       56px;
@awitch-panel-color:        #4bd863;
@switch-button-size:        56px;
@switch-button-shadow:      0 4px 10px rgba(0, 0, 0, 0.4);
@switch-button-checked-position: 44px;

// Grids
// --------------------------------------------------
@grid-fluid-padding:        16px;
@grid-padding-width:        @spacing-x;

@grid-responsive-sm-break:  567px;  // smaller than landscape phone
@grid-responsive-md-break:  767px;  // smaller than portrait tablet
@grid-responsive-lg-break:  1023px; // smaller than landscape tablet


// ImageList
// --------------------------------------------------
@image-list-margin:          0 32px;
@image-item-margin:          16px;
@image-item-padding:         16px;
@image-desp-color:           #999;


// Label
// --------------------------------------------------
@label-padding:             2px 5px;
@label-radius:              4px;


// List
// --------------------------------------------------
@list-header-padding:       20px 32px;
@list-header-bg:            @gray-f0;
@list-header-color:         @gray-66;

@list-item-margin:          @spacing-4x;
@list-item-border:          1PX solid @gray-f0;
@list-item-font-size:       @font-size-text;
@list-item-active-bg:       @default-active-color;
@list-item-disabled-color:  @gray-99;
@list-item-error-color:     @brand-error-deep;
@list-item-required-color:  @brand-error;
@list-item-required-left:   -20px;
@list-item-required-line-height: 104px;

@list-elem-height:          40px;
@list-sub-elem-height:      32px;
@list-sub-elem-font-size:   @font-size-tip;
@list-sub-elem-color:       @gray-99;
@list-switch-margin:        -16px;
@list-image-width:          120px;
@list-image-height:         90px;
@list-image-bg:             @gray-f0;

@list-col-padding:          @spacing-3x @spacing-4x @spacing-3x 0;
@list-col-heading-padding:  56px;
@list-col-tail-padding:     68px;
@list-col-icon-margin:      @spacing-2x;

@list-input-padding-with-icon: 32px;
@list-input-padding-with-second-icon: 88px;
@list-input-second-icon-right: 56px;

@list-navigate-right-interval: 26px;
@list-navigate-right-size:   36px;
@list-navigate-right-color:  @gray-cc;


// Loading List
// --------------------------------------------------
@loading-list-padding:      24px 0;
@loading-list-font-size:    @font-size-text;
@loading-list-color:        @gray-99;

@loading-list-icon-size:    @font-size-subtitle;

// Tip
@tip-icon-margin:           24px;
@tip-icon-size:             76px;
@tip-icon-color:            @gray-cc;


// Menu
// --------------------------------------------------
@menu-header-height:        88px;
@menu-header-padding:       32px;

@menu-icon-size:            @font-size-mainbody;
@menu-icon-padding:         0 32px;

@menu-body-padding:         0;

@menu-close-button-padding: 20px;
@menu-close-button-color:   @brand-primary;
@menu-close-button-size:    @font-size-headline;

@menu-list-padding:         0;
@menu-list-margin:          0;
@menu-item-padding:         24px 32px;
@menu-item-font-size:       @font-size-subtitle;
@menu-item-color:           @gray-66;
@menu-item-active-color:    @brand-primary;
@menu-item-icon-margin:     0 24px 0 0;


// Page
// --------------------------------------------------
@page-padding:              @spacing-4x;


// Popover
// --------------------------------------------------
@popover-position:          10%;
@popover-min-width:         160px;
@popover-padding-value:     32px;
@popover-padding:           @popover-arrow-size/2 @popover-padding-value;
@popover-background:        @gray-33;
@popover-radius:            8px;
@popover-font-size:         28px;
@popover-color:             @white;

@popover-arrow-size:        18px;
@popover-arrow-radius:      4px;

@popover-list-padding:      0 8px;
@popover-item-height:       60px;
@popover-item-padding:      0 32px;
@popover-item-border:       1PX solid rgba(255,255,255,.2);

@popover-text-padding:      28px 32px;
@popover-text-line-height:  32px;


// Popup
// --------------------------------------------------
// Filter
@popup-list-active-color:   @brand-primary;
@popup-list-font-size: @font-size-text;

// Action Sheet
@action-sheet-width:        94.6667%;
@action-sheet-height:       112px;
@action-sheet-margin:       0 auto 16px;

@action-item-radius:        12px;
@action-item-font-size:     40px;
@action-item-color:         @brand-primary;
@action-item-border:        1PX solid @gray-e1;

@action-tip-color:          #8F8E94;
@action-tip-font-size:      @font-size-subtitle;
@action-delete-color:       @brand-error;
@action-operate-color:      @gray-33;
@action-operate-margin:     16px;

// Picker
@picker-header-padding:     .75rem;
@picker-btn-color:          #0ba4db;

@picker-item-line-height:   1.8rem;

@picker-shadow-position:    .5rem;
@picker-body-padding:       @picker-shadow-position 0;
@picker-drag-height:        @picker-item-line-height * 7;
@picker-shadow-height:      @picker-item-line-height * 3;


// Search Bar
// --------------------------------------------------
@search-bar-height:         88px;
@search-bar-padding:        14px 24px;
@search-bar-background:     @gray-f0;

@search-bar-input-background: @white;
@search-bar-input-focus-width: calc(~"100% - 92px");
@search-bar-placeholder-color: @gray-99;
@search-bar-button-font-size: @font-size-subtitle;


// Slider
// --------------------------------------------------
@slider-padding:            92px 52px 52px;

@slider-text-top:           24px;
@slider-text-font-size:     @font-size-text;
@slider-text-color:         @brand-primary;

@slider-range-padding:      92px 105px 52px;
@slider-range-top:          100px;
@slider-range-font-size:    @font-size-text;
@slider-range-color:        @gray-99;
@slider-range-interval:     32px;

@slider-line-width:         100%;
@slider-line-height:        4px;
@slider-line-color:         @gray-bb;
@slider-line-disabled-color: @gray-f0;
@slider-line-margin:        5px auto;
@slider-progress-color:     @brand-primary;
@slider-progress-disabled-color: #ffb299;

@slider-btn-size:           40px;
@slider-btn-box-shadow:     0 1px 8PX rgba(0,0,0,.2); //设计：0 0 4PX rgba(0,0,0,.1)
@slider-btn-disabled-border: 4px solid @brand-primary-await;

@slider-tip-padding:        12px 18px;
@slider-tip-background:     #666;
@slider-tip-radius:         8px;
@slider-tip-color:          @white;
@slider-tip-interval:       calc(~"100% + 20px");
@slider-tip-arrow-size:     8px;


// Star
// --------------------------------------------------
@start-default-height:      24px;
@start-default-width:       6*@start-default-height;

@start-md-height:           30px;
@start-md-width:            6*@start-md-height;

@start-lg-height:           36px;
@start-lg-width:            6*@start-lg-height;

// Steps
// --------------------------------------------------
@steps-width:               100%;
@steps-height:              132px;
@steps-padding:             40px 80px 0;
@steps-margin:              0 auto;

@steps-color:               @gray-cc;
@steps-active-color:        @brand-primary;

@steps-line-height:         2PX;

@steps-dot-size:            16px;
@steps-dot-margin:          -@steps-line-height/2 auto 0;
@steps-dot-background:      @steps-color;
@steps-dot-active-background: @steps-active-color;
@steps-dot-active-size:     20px;
@steps-dot-active-border:   5px solid @steps-active-color;

@steps-text-color:          @steps-color;
@steps-text-margin:         16px;
@steps-text-active-color:   @steps-active-color;
@steps-text-done-margin:    12px;


// Tab
// --------------------------------------------------
@tab-row-border:            1PX solid @gray-e1;

@tab-nav-height:            88px;
@tab-nav-min-width:         116px;
@tab-nav-line-height:       84px;
@tab-nav-padding:           0 32px;
@tab-nav-item-padding:      0 16px;
@tab-nav-border-width:      4px;
@tab-nav-border-color:      @white;
@tab-nav-active-border-color: @brand-primary;
@tab-nav-active-color:      @brand-primary;
@tab-nav-margin:            -2px;

@tab-panel-padding:         0;

@vertical-tab-nav-background: @gray-f0;


// Tabbar
// --------------------------------------------------
@tabbar-background:        rgba(250,250,250,.9);
@tabbar-height:            98px;
@tabbar-border:            1PX solid @gray-e1;
@tabbar-padding:           14px;
@tabbar-active-color:      @brand-primary;

@tabbar-icon-size:         48px;
@tabbar-icon-margin:       5px;
@tabbar-icon-color:        #69707e;

@tabbar-text-font-size:    20px;
@tabbar-text-color:        @gray-99;

@tabbar-dynamic-size:      24px;
@tabbar-dynamic-top:       -8px;
@tabbar-dynamic-left:      calc(~"50% + 12px");
@tabbar-dynamic-color:     @brand-error;

@tabbar-badge-top:         @tabbar-dynamic-top;
@tabbar-badge-left:        calc(~"50% + 8px");


// TableView 待续...
// --------------------------------------------------
@table-margin:              0 0 15px;
@table-background:          @white;
@table-border:              @border-default-color;

@table-cell-padding:        11px 65px 11px 15px;
@table-cell-a-margin:       -11px -65px -11px -15px;
@table-cell-a-active-background: #eee;


// Toast
// --------------------------------------------------
@toast-main-padding:        0 32px;
@toast-min-width:           240px;
@toast-padding:             28px 48px;
@toast-background:          rgba(0,0,0,.7);
@toast-radius:              8px;
@toast-font-size:           @font-size-subtitle;

@toast-rect-width:          240px;
@toast-rect-height:         @toast-rect-width;

@toast-icon-size:           80px;
@toast-icon-margin:         28px;

// Toolbar
// --------------------------------------------------
@toolbar-background:        @white;
@toolbar-box-shadow:        0 2px 2px rgba(0,0,0,.15);
@toolbar-font-size:         @font-size-subtitle;
@toolbar-color:             @brand-primary;
@toolbar-padding:           32px;
@toolbar-height:            96px;

@toolbar-segmente-padding:  20px;

@toolbar-title-font-size:   @font-size-headline;
@toolbar-title-color:       #111;

@toolbar-icon-size:         40px;

// Icon
// --------------------------------------------------
@icon-xs-size: 32px;
@icon-sm-size: 40px;
@icon-md-size: 48px;
@icon-lg-size: 72px;
@icon-xlg-size: 80px; 
@icon-xxlg-size: 96px;                   

@icon-size: @font-size-subtitle;

@icon-loading-size: @icon-lg-size;


// 控件 ph-filter
// --------------------------------------------------
@filter-header-background: @white;
@filter-header-border: 1PX solid @gray-e1;

@filter-header-item-height: 88px;
@filter-header-item-padding: 24px 0;
@filter-header-item-line-height: 40px;
@filter-header-item-font-size: @font-size-text;




