// 颜色
// --------------------------------------------------
// 品牌色
@brand-primary:             #ff6633;
@brand-primary-active:      #f26130;
@brand-primary-await:       #ffc2ad;
@brand-primary-light:       #fff1ed;
@brand-primary-deep:        #e35322;

// 中立色
@white:                     #fff;
@gray-f9:                   #f9f9f9;
@gray-f8:                   #f8f8f8;
@gray-f0:                   #f0f0f0;
@gray-e1:                   #e1e1e1;
@gray-cc:                   #ccc;
@gray-bb:                   #bbb;
@gray-99:                   #999;
@gray-66:                   #666;
@gray-33:                   #333;
@black:                     #000;

// 功能色
@brand-success:             #49cb67;
@brand-success-light:       #d4f6dc;
@brand-success-deep:        #199235;

@brand-tip:                 #ffad3e;
@brand-tip-light:           #fff4e3;
@brand-tip-deep:            #e08f22;

@brand-error:               #f64d2e;
@brand-error-light:         #fcc9c0;
@brand-error-deep:          #e2391a;

@brand-info:                #4ea3d4;
@brand-info-deep:           #518cce;

// label
@label-info:                @brand-info-deep;
@label-success:             #5eb22d;
@label-tip:                 #f0b928;
@label-calm:                #ca92df;
@label-light:               @brand-info;
@label-gray:                @gray-bb;

// 常用色(非规范)
@brand-warning:             #e0690c;
@brand-danger:              #ff3b30;


// 通用
// --------------------------------------------------
//默认body背景色
@body-bg:                   @gray-f0;

//链接
@link-color:                #0066cc;
@link-hover-color:          darken(@link-color,15%);
@link-hover-decoration:     none;

// Borders
@border-default-color:      #bbb;
@border-default:            1PX solid @border-default-color;

// 默认active背景色
@default-active-color:      @gray-f9;

//默认遮罩的颜色
@default-shadow-color:      rgba(0,0,0,.4);

// 常用参数数值
@spacing-x:                 4px;
@spacing-2x:                @spacing-x*2;
@spacing-3x:                @spacing-x*3;
@spacing-4x:                @spacing-x*4;
@spacing-5x:                @spacing-x*5;

// 字体(英文Helvetica, Tahoma, Arial；中文'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei')
@font-family-default:       Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';

// 文字大小
@font-size-h1:              36px;
@font-size-symbol:          30px; /*30pt*/
@font-size-h3:              24px;
@font-size-headline:        18px; /*18pt*/
@font-size-title:           17px; /*17pt*/
@font-size-subtitle:        16px; /*16pt*/
@font-size-mainbody:        15px; /*15pt*/
@font-size-text:            14px; /*14pt*/
@font-size-tip:             12px; /*12pt*/
@font-size-base:            16px;

// 文字行高
@line-height-mainbody:      20px;
@line-height-text:          18px;
@line-height-tip:           16px;


// Accordion
// --------------------------------------------------
@accordion-header-height:   44px;
@accordion-header-padding:  0 16px 0 16px;
@accordion-header-border:   1PX solid @gray-f0;

@accordion-icon-size:       @icon-xs-size;

@accordion-item-padding:    @accordion-header-padding;
@accordion-item-border:     @border-default-color;


// Badges
// --------------------------------------------------
@badge-height:              18px;
@badge-min-width:           @badge-height;
@badge-font-size:           @font-size-tip;
@badge-radius:              @badge-height / 2;
@badge-padding:             0 6px;
@badge-default-background:  @brand-error;
@badge-default-color:       @white;
@badge-inverted-padding:    0 5px 0 0;


// Buttons
// --------------------------------------------------
@btn-default-border:        1PX solid @gray-bb;
@btn-default-padding:       0 @spacing-3x;
@btn-default-radius:        2px;
@btn-icon-margin:           6px;
@btn-stable-icon-margin:    -22px;
@btn-loading-margin:        -3px;
@btn-stable-loading-margin: -26px;

@btn-sm-height:             30px;
@btn-sm-min-width:          60px;

@btn-md-height:             40px;
@btn-md-min-width:          102px;

@btn-lg-height:             44px;
@btn-lg-min-width:          166px;
@btn-lg-margin:             12px;
@btn-lg-radius:             4px;


// Button Group
// --------------------------------------------------
@button-group-default-width: 165.5px;

@button-group-border-width:  1PX;

@button-group-justify-width: 76px;
@button-group-justify-height: 28px;
@button-group-justify-radius: 4px;

@button-group-footer-padding: 10px 16px;
@button-group-footer-border: 1PX solid @gray-e1;
@button-group-footer-background: @white;

@button-group-extra-padding: 8px 16px;


// Dialog
// --------------------------------------------------
@dialog-content-width:      72.2667%; // 540px
@dialog-content-padding:    24px 0 0;
@dialog-content-radius:     6px;

@dialog-title-margin:       0 20px 8px;
@dialog-title-line-height:  24px;
@dialog-title-font-size:    @font-size-headline;
@dialog-title-color:        @gray-33;

@dialog-body-margin:        0 20px 28px;
@dialog-body-line-height:   20px;
@dialog-body-font-size:     @font-size-text;
@dialog-body-color:         @gray-66;

@dialog-only-margin:        20px 20px 28px;

@dialog-close-top:          12px;
@dialog-close-right:        @dialog-close-top;
@dialog-close-color:        @gray-cc;
@dialog-close-size:         14px;

@dialog-btn-width:          auto;
@dialog-btn-margin:         2%;
@dialog-btn-border:         1PX solid @gray-e1;

// prompt
@prompt-title-margin:       0 20px;
@prompt-body-margin:        24px 20px 20px;
@prompt-input-margin:       8px;

// explain
@explain-title-margin:      0 20px 20px;
@explain-list-padding:      34px;
@explain-list-margin:       18px;

// picture
@dialog-picture-width:      60%;
@dialog-picture-padding:    10px;
@dialog-picture-margin:     0 auto 20px;


// Form 
// --------------------------------------------------
// Checkbox & Radio
@multi-group-height:        20px;
@multi-group-margin:        @spacing-4x;

@checkbox-border:           1PX solid @border-default-color;
@checkbox-size:             20px;
@checkbox-sm-size:          14px;
@checkbox-border-radius:    2px;
@checkbox-checked-border:   1PX solid @brand-primary;
@checkbox-checked-background: #fff1ed;
@checkbox-disabled-border:  @gray-e1;
@checkbox-text-gap:         @spacing-2x;
@checkbox-text-top:         -4px;

@checkbox-before-width:     10px;
@checkbox-before-height:    6px;
@checkbox-before-left:      3px;
@checkbox-before-top:       3px;

@checkbox-after-height:     12px;
@checkbox-after-left:       10.5px;
@checkbox-after-top:        3.5px;

@radio-size:                21px;

// Input Text
@input-default-height:      30px;
@input-default-padding:     5px 8px;
@input-default-radius:      2px;
@input-default-font-size:   @font-size-text;
@input-default-color:       @gray-66;

@input-disabled-background: @gray-f8;
@input-disabled-color:      @gray-cc;

@input-search-background:   @gray-f0;
@input-search-padding:      5px 8px;
@input-search-radius:       @input-default-height/2;

@input-placeholder-padding: 0 8px;
@input-placeholder-icon-margin: 4px;

@input-icon-color:          @gray-cc;
@input-icon-size:           @icon-sm-size;
@input-icon-right:          8px;
@input-second-icon-right:   32px;
@input-padding-width-icon:  24px;
@input-padding-width-second-icon: 48px;

@input-heading-padding:     32px;

// Select
@select-box-shadow:         inset 0 1PX 1PX rgba(0, 0, 0, .1);

// Textarea
@textarea-padding:          @spacing-2x @spacing-3x;
@textarea-border:           @border-default;
@textarea-border-radius:    2px;
@textarea-line-height:      20px;
@textarea-font-size:        @font-size-text;
@textarea-color:            @gray-33;
@textarea-placeholder-color: @gray-cc;
@textarea-min-height:       114px;

@textarea-count-position-right: @spacing-2x;
@textarea-count-position-bottom: @spacing-2x;
@textarea-count-color:      @gray-99;

// switch
@switch-width:              52px;
@switch-height:             32px;
@switch-background:         #e5e5e5;
@switch-panel-width:        48px;
@switch-panel-height:       28px;
@awitch-panel-color:        #4bd863;
@switch-button-size:        28px;
@switch-button-shadow:      0 2px 5px rgba(0, 0, 0, 0.4);
@switch-button-checked-position: 22px;

// Grids
// --------------------------------------------------
@grid-fluid-padding:        8px;
@grid-padding-width:        @spacing-x;

@grid-row-margin:           5px;

@grid-responsive-sm-break:  567px;  // smaller than landscape phone
@grid-responsive-md-break:  767px;  // smaller than portrait tablet
@grid-responsive-lg-break:  1023px; // smaller than landscape tablet


// ImageList
// --------------------------------------------------
@image-list-margin:          0 6px;
@image-item-margin:          8px;
@image-item-padding:         8px;
@image-desp-color:           #999;


// Label
// --------------------------------------------------
@label-sm-size:              16px;     
@label-md-size:              20px;
@label-radius:               2px;


// List
// --------------------------------------------------
@list-header-padding:       10px 16px;
@list-header-bg:            @gray-f0;
@list-header-color:         @gray-66;

@list-item-margin:          @spacing-4x;
@list-item-border:          1PX solid @gray-f0;
@list-item-font-size:       @font-size-text;
@list-item-active-bg:       @default-active-color;
@list-item-disabled-color:  @gray-99;
@list-item-error-color:     @brand-error-deep;
@list-item-required-color:  @brand-error;
@list-item-required-left:   -10px;
@list-item-required-line-height: 52px;

@list-elem-height:          20px;
@list-sub-elem-height:      16px;
@list-sub-elem-font-size:   @font-size-tip;
@list-sub-elem-color:       @gray-99;
@list-switch-margin:        -8px;
@list-image-width:          60px;
@list-image-height:         45px;
@list-image-bg:             @gray-f0;

@list-col-padding:          @spacing-3x @spacing-4x @spacing-3x 0;
@list-col-heading-padding:  28px;
@list-col-tail-padding:     34px;
@list-col-icon-margin:      @spacing-2x;

@list-input-padding-with-icon: 16px;
@list-input-padding-with-second-icon: 44px;
@list-input-second-icon-right: 28px;

@list-navigate-right-interval: 13px;
@list-navigate-right-size:   @icon-sm-size;
@list-navigate-right-color:  @gray-cc;


// Loading List
// --------------------------------------------------
@loading-list-padding:      12px 0;
@loading-list-font-size:    @font-size-text;
@loading-list-color:        @gray-99;

@loading-list-icon-size:    @icon-sm-size;

// Tip
@tip-icon-margin:           12px;
@tip-icon-size:             @icon-xlg-size;
@tip-icon-color:            @gray-cc;


// Menu
// --------------------------------------------------
@menu-header-height:        44px;
@menu-header-padding:       16px;

@menu-icon-size:            @icon-lg-size;
@menu-icon-padding:         0 16px;

@menu-body-padding:         0;

@menu-close-button-padding: 10px;
@menu-close-button-color:   @brand-primary;
@menu-close-button-size:    @font-size-headline;

@menu-list-padding:         0;
@menu-list-margin:          0;
@menu-item-padding:         12px 16px;
@menu-item-font-size:       @font-size-subtitle;
@menu-item-color:           @gray-66;
@menu-item-active-color:    @brand-primary;
@menu-item-icon-margin:     0 12px 0 0;


// Page
// --------------------------------------------------
@page-padding:              @spacing-4x;


// Popover
// --------------------------------------------------
@popover-position:          10%;
@popover-min-width:         80px;
@popover-padding-value:     16px;
@popover-padding:           @popover-arrow-size/2 @popover-padding-value;
@popover-background:        @gray-33;
@popover-radius:            4px;
@popover-font-size:         14px;
@popover-color:             @white;

@popover-arrow-size:        9px;
@popover-arrow-radius:      2px;

@popover-list-padding:      0 4px;
@popover-item-height:       30px;
@popover-item-padding:      0 16px;
@popover-item-border:       1PX solid rgba(255,255,255,.2);

@popover-text-padding:      14px 16px;
@popover-text-line-height:  16px;


// Popup
// --------------------------------------------------
// Filter
@popup-list-active-color:   @brand-primary;
@popup-list-font-size: @font-size-text;

// Action Sheet
@action-sheet-width:        94.6667%;
@action-sheet-height:       56px;
@action-sheet-margin:       0 auto 8px;

@action-item-radius:        6px;
@action-item-font-size:     20px;
@action-item-color:         @brand-primary;
@action-item-border:        1PX solid @gray-e1;

@action-tip-color:          #8F8E94;
@action-tip-font-size:      @font-size-subtitle;
@action-delete-color:       @brand-error;
@action-operate-color:      @gray-33;
@action-operate-margin:     8px;

// Picker
@picker-header-padding:     37px;
@picker-btn-color:          #0ba4db;

@picker-item-line-height:   90px;

@picker-shadow-position:    25px;
@picker-body-padding:       @picker-shadow-position 0;
@picker-drag-height:        @picker-item-line-height * 7;
@picker-shadow-height:      @picker-item-line-height * 3;


// Pullup & Pulldown
// --------------------------------------------------
@pulldown-margin-top:      -44px;


// Search Bar
// --------------------------------------------------
@search-bar-height:         44px;
@search-bar-padding:        7px 12px;
@search-bar-background:     @gray-f0;

@search-bar-button-width:   46px;
@search-bar-input-background: @white;
@search-bar-input-focus-padding: @search-bar-button-width + 12px;
@search-bar-placeholder-color: @gray-99;
@search-bar-button-font-size: @font-size-subtitle;


// Slider
// --------------------------------------------------
@slider-padding:            46px 34px 34px;

@slider-text-top:           12px;
@slider-text-font-size:     @font-size-text;
@slider-text-color:         @brand-primary;

@slider-range-padding:      46px 52px 26px;
@slider-range-top:          50px;
@slider-range-font-size:    @font-size-text;
@slider-range-color:        @gray-99;
@slider-range-interval:     16px;

@slider-line-width:         100%;
@slider-line-height:        2px;
@slider-line-color:         @gray-bb;
@slider-line-disabled-color: @gray-f0;
@slider-line-margin:        3px auto;
@slider-progress-color:     @brand-primary;
@slider-progress-disabled-color: #ffb299;

@slider-btn-size:           20px;
@slider-btn-box-shadow:     0 1PX 8PX rgba(0,0,0,.2); //设计：0 0 4px rgba(0,0,0,.1)
@slider-btn-disabled-border: 2px solid @brand-primary-await;

@slider-tip-padding:        6px 9px;
@slider-tip-background:     #666;
@slider-tip-radius:         4px;
@slider-tip-color:          @white;
@slider-tip-interval:       70%;
@slider-tip-arrow-size:     4px;


// Star
// --------------------------------------------------
@start-default-height:      12px;
@start-default-width:       6*@start-default-height;

@start-md-height:           15px;
@start-md-width:            6*@start-md-height;

@start-lg-height:           18px;
@start-lg-width:            6*@start-lg-height;

// Steps
// --------------------------------------------------
@steps-width:               100%;
@steps-height:              66px;
@steps-padding:             20px 40px 0;
@steps-margin:              0 auto;

@steps-color:               @gray-cc;
@steps-active-color:        @brand-primary;

@steps-line-height:         2PX;

@steps-dot-size:            8px;
@steps-dot-margin:          -@steps-line-height/2 auto 0;
@steps-dot-background:      @steps-color;
@steps-dot-active-background: @steps-active-color;
@steps-dot-active-size:     10px;
@steps-dot-active-border:   3px solid @steps-active-color;

@steps-text-color:          @steps-color;
@steps-text-margin:         8px;
@steps-text-active-color:   @steps-active-color;
@steps-text-done-margin:    6px;


// Tab
// --------------------------------------------------
@tab-row-border:            1PX solid @gray-e1;

@tab-nav-height:            44px;
@tab-nav-min-width:         58px;
@tab-nav-line-height:       20px;
@tab-nav-padding:           12px 16px;
@tab-nav-short-padding:     0 16px;
@tab-nav-item-padding:      12px 8px;
@tab-nav-border-width:      2px;
@tab-nav-border-color:      @white;
@tab-nav-active-border-color: @brand-primary;
@tab-nav-active-color:      @brand-primary;
@tab-nav-margin:            -2px;

@tab-panel-padding:         0;

@vertical-tab-nav-background: @gray-f0;


// Tabbar
// --------------------------------------------------
@tabbar-background:        rgba(250,250,250,.9);
@tabbar-height:            49px;
@tabbar-border:            1PX solid @gray-e1;
@tabbar-padding:           7px;
@tabbar-active-color:      @brand-primary;

@tabbar-icon-size:         22px;
@tabbar-icon-margin:       3px;
@tabbar-icon-color:        #69707e;

@tabbar-text-font-size:    10px;
@tabbar-text-color:        @gray-99;

@tabbar-dynamic-size:      12px;
@tabbar-dynamic-top:       -4px;
@tabbar-dynamic-right:     6px - 12px;
@tabbar-dynamic-color:     @brand-error;

@tabbar-badge-top:         @tabbar-dynamic-top;
@tabbar-badge-right:       4px - 12px;


// Toast
// --------------------------------------------------
@toast-main-padding:        0 16px;
@toast-min-width:           120px;
@toast-padding:             14px 24px;
@toast-background:          rgba(0,0,0,.7);
@toast-radius:              4px;
@toast-font-size:           @font-size-subtitle;

@toast-rect-width:          120px;
@toast-rect-height:         @toast-rect-width;

@toast-body-padding:        20px 8px;

@toast-icon-size:           @icon-xlg-size;
@toast-icon-margin:         14px;

@toast-loading-margin:      15px;

// Toolbar
// --------------------------------------------------
@toolbar-background:        @white;
@toolbar-box-shadow:        0 2px 2px rgba(0,0,0,.15);
@toolbar-font-size:         @font-size-subtitle;
@toolbar-color:             @brand-primary;
@toolbar-padding:           16px;
@toolbar-height:            48px;

@toolbar-segmente-padding:  10px;

@toolbar-title-font-size:   @font-size-headline;
@toolbar-title-color:       #111;

@toolbar-icon-size:         @icon-md-size;

// Icon
// --------------------------------------------------
@icon-xs-size:              12px;
@icon-sm-size:              16px;
@icon-md-size:              20px;
@icon-lg-size:              24px;
@icon-xlg-size:             40px;
@icon-sm-loading-size:      18px;

// Animate
// --------------------------------------------------
@animate-shake-translate:   5px;

// 控件 ph-filter
// --------------------------------------------------
@filter-header-background:  @white;
@filter-header-border:      1PX solid @gray-e1;

@filter-header-item-height:  44px;
@filter-header-item-inner-height: 20px;
@filter-header-item-padding: 12px 0;
@filter-header-item-line-height: 20px;
@filter-header-item-font-size: @font-size-text;
@filter-header-item-max-width: calc(~'100% - 36px');

@filter-icon-top:           -5px;
@filter-icon-margin:        4px;
@filter-icon-line-height:   20px;
@filter-icon-font-size:     @icon-xs-size;
@filter-icon-color:         @gray-66;

@filter-arrow-bottom:       -2px;
@filter-arrow-size:         9px;
@filter-arrow-background:   @white;
@filter-arrow-border:       1PX solid @gray-e1;

@filter-panel-max-height:   72%;//850px;

@filter-footer-height:      64px;
