@buttonPrefixCls: ph-button;

.@{buttonPrefixCls}{
    position: relative;
    display: inline-block;
    min-width: @btn-sm-min-width;
    height: @btn-sm-height;
    padding: @btn-default-padding;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    border: @btn-default-border;
    border-radius: @btn-default-radius;
    background-color: @white;
    vertical-align: top;
    font-size: @font-size-text;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    
    &.@{buttonPrefixCls}-md{
        height: @btn-md-height;
        min-width: @btn-md-min-width;
        font-size: @font-size-subtitle;
    }

    &.@{buttonPrefixCls}-lg,
    &.@{buttonPrefixCls}-block{
        height: @btn-lg-height;
        border-radius: @btn-lg-radius;
        font-size: @font-size-subtitle;
    }

    &.@{buttonPrefixCls}-lg{
        min-width: @btn-lg-min-width;
    }

    &.@{buttonPrefixCls}-block{
        display: block;
        width: 100%;
    }
}

// 带图标的按钮
.@{buttonPrefixCls} .gfs-icon {
    margin-right: @btn-icon-margin;
    font-size: inherit;
}

// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//     width: 100%;
// }

.button-skin();
