@buttonGroupPrefixCls: ph-button-group;

.@{buttonGroupPrefixCls}{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.@{buttonGroupPrefixCls}-default,
.@{buttonGroupPrefixCls}-footer{
    .ph-button{
        position: relative;
        float: left;
        // margin-left: -1PX;
        &.ph-button-lg{
            min-width: 0;
            width: @button-group-default-width;
            margin-right: @btn-lg-margin;
            &:nth-child(even){
                margin-right: 0;
            }
        }
    }
}

.@{buttonGroupPrefixCls}-justify,
.@{buttonGroupPrefixCls}-segmente{
    .ph-button{
        min-width: 0;
        &:not(:first-child){
            border-left: none;
        }
        &:not(:first-child):not(:last-child){
            border-radius: 0;
        }
        &:first-child:not(:last-child){
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &:last-child:not(:first-child){
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.@{buttonGroupPrefixCls}-justify{
    width: 100%;
    .display-flex();

    .ph-button{
        .flex(1);
    }
}

.@{buttonGroupPrefixCls}-tacked{
    width: 100%;
    .ph-button{
        float: none;
        display: block;
        margin-left: 0;
        
        &:not(:first-child){
            border-top: none;
        }
        &:not(:first-child):not(:last-child){
            border-radius: 0;
        }
        &:first-child:not(:last-child) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:last-child:not(:first-child) {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.@{buttonGroupPrefixCls}-footer{
    width: 100%;
    padding: @button-group-footer-padding;
    border-top: @button-group-footer-border;
    background-color: @button-group-footer-background;
}

.@{buttonGroupPrefixCls}-segmente{
    .ph-button{
        width: @button-group-justify-width;
        height: @button-group-justify-height;
        .border-radius(@button-group-justify-radius);
        line-height: @button-group-justify-height;
    }
}