.ph-dialog-shadow,
.ph-dialog-main,
.ph-toast-shadow,
.ph-toast-main{
	position: fixed;
	left: 0;
	width: 100%;
}

.ph-dialog-shadow,
.ph-toast-shadow{
	top: 0;
	height: 100%;
	z-index: 99;
}

.ph-dialog-shadow{
	background-color: rgba(0,0,0,.4);
}

.ph-dialog-main,
.ph-toast-main{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}

.dialog-skin();