@import "../public";
@import "../mixins/form";

// form reset
input,
textarea,
button,
select {
    font-family: @font-family-default;
    font-size: @font-size-subtitle;
}
textarea {
    height: auto;
    resize: none;
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"]{
    width: 100%;
    height: @input-default-height;
    padding: @input-default-padding;
    // margin: @input-default-margin;
    line-height: 1;
    background-color: @white;
    border: @border-default;
    .border-radius(@input-default-radius);
    font-size: @input-default-font-size;
    -webkit-appearance: none;
    outline: none;
    .box-sizing(border-box);
}

// input
input[type="text"]:disabled,
input[type="search"]:disabled,
.ph-textarea:disabled{
    background-color: @input-disabled-background;
    color: @input-disabled-color;
    .gfs-icon{
        pointer-events: none;
    }
}

input[type="search"] {
    // padding: @input-search-padding;
    background-color: @input-search-background;
    border: none;

    &:focus{
        text-align: left;
    }
}

select {
    height: auto;
    .box-shadow(@select-box-shadow);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.ph-input-placeholder{
    font-size: @input-default-font-size;
    color: @gray-cc;
}

.ph-input{
    position: relative;

    input{
        color: @input-default-color;
    }

    .gfs-icon{
        font-size: @input-icon-size;
        color: @input-icon-color;
    }
    &>.gfs-icon{
        position: absolute;
        top: 50%;
        right: @input-icon-right;
        .transform(translateY(-50%));
        cursor: pointer;
        &.gfs-icon-active{
            color: @gray-33;
        }
    }
}

.ph-input-clear, 
.ph-input-visible,
.ph-input-error{
    input{
        padding-right: @input-padding-width-icon;
    }
}

.ph-input-clear.ph-input-visible{
    input{
        padding-right: @input-padding-width-second-icon;
    }
    .gfs-icon-close{
        right: @input-second-icon-right;
    }
}

.ph-input-heading{
    input{
        padding-left: @input-heading-padding;
    }
}

.ph-input-error{
    input{
        color: @list-item-error-color;
    }
    .gfs-icon-error{
        color: @brand-error;
    }
}

// placeholder
.ph-input-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: @input-placeholder-padding;
    line-height: @input-default-height;
    font-size: @input-default-font-size;
    pointer-events: none;

    // .ph-input-value{
    //     color: #333;
    // }

    .gfs-icon{
        margin-right: @input-placeholder-icon-margin;
    }
}

.ph-input-placeholder-hide{
    .ph-input-placeholder-text{
        display: none;
    }
    .gfs-icon{
        color: @gray-99;
    }
}

input[type="search"] + .ph-input-placeholder{
    text-align: center;
    .transition(all .2s);
}
input[type="search"] + .ph-input-placeholder-hide{
    width: @input-heading-padding;
}

// textarea
.ph-textarea-field{
    position: relative;
    padding: 0;
}
.ph-textarea{
    display: block;
    min-height: @textarea-min-height;
    padding: @textarea-padding;
    background-color: @white;
    // border: @textarea-border;
    .border-radius(@textarea-border-radius);
    line-height: @textarea-line-height;
    font-size: @textarea-font-size;
    color: @textarea-color;
}
.ph-textarea:disabled + .ph-textarea-count{
    color: @input-disabled-color;
}
.ph-textarea-count{
    position: absolute;
    right: @textarea-count-position-right;
    bottom: @textarea-count-position-bottom;
    font-size: @font-size-tip;
    color: @textarea-count-color;
}
.ph-textarea-count>b{
    font-weight: 400;
}

//checkbox & radio
.ph-multi-group{
    display: inline-block;
    vertical-align: top;
    height: @multi-group-height;
    margin-right: @multi-group-margin;
    span{
        // position: relative;
        // top: @checkbox-text-top;
        float: right;
        margin-left: @checkbox-text-gap;
        font-size: @font-size-text;
    }
    .ph-radio,.ph-checkbox{
        display: inline-block;
        vertical-align: top;
    }

    &:last-child{
        margin-right: 0;
    }
}

.ph-checkbox{
    .ui-checkbox(@checkbox-size);
}

.ph-radio{
    .ui-radio(@radio-size);
}

//switch
.ph-switch {
    .ui-switch(@awitch-panel-color);
}


