.label{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    font-size: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.label-md{
    font-size:14px;
}
.label-lg{
    font-size:16px;
}
.label-skin();