.ph-label{
    display: inline-block;
    vertical-align: middle;
    padding: @label-padding;
    font-size: @font-size-tip;
    border-radius: @label-radius;
}
.ph-label-md{
    font-size: @font-size-text;
}
.ph-label-lg{
    font-size: @font-size-subtitle;
}

.label-skin();