.ph-loading-page-tip{
    padding: @loading-list-padding;
    text-align: center;
    font-size: @loading-list-font-size;
    color: @loading-list-color;

    .gfs-icon-loading:before{
    	display: inline-block;
        font-size: @loading-list-icon-size;
        .animation(rotate 1s linear infinite);
        // .transform-origin(center 47.8%);
    }
}