@filterPrefixCls: ph-filter;

.@{filterPrefixCls}-container{
	position: relative;

	&.ph-filter-container-fixed,
	&.ph-filter-container-shadow{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
	}

	&.ph-filter-container-shadow{
		height: 100vh;
	}	
}

.@{filterPrefixCls}-shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.4);
}

.@{filterPrefixCls}-header{
	position: relative;
	z-index: 2;
	background-color: @white;
	border-bottom: 1PX solid @gray-e1;

	.@{filterPrefixCls}-header-item{
		position: relative;
		// float: left;
		// overflow: hidden;
		height: 88px;
		padding: 24px 0;
		line-height: 40px;
		text-align: center;
		font-size: 28px;

		a{
			display: block;
			border-right: 1PX solid @gray-e1;
			white-spac: nowrap;
		}
		&:last-child a{
			border-right: none;
		}

		.gfs-icon{
			display: inline-block;
			margin-left: 8px;
			line-height: 40px;
			font-size: 32px;
			color: @gray-66;
			.transition(all .2s);
		}

		&.active{
			.gfs-icon{
				.rotate(-180deg);
			}

			&:after{
				content: "";
				position: absolute;
				bottom: -2px;
				left: 50%;
				width: 18px;
				height: 18px;
				background-color: #fff;
				border-top: 1PX solid @gray-e1;
				border-right: 1PX solid @gray-e1;
				.transform(rotate(-45deg) translateX(-50%));
			}
		}
	}

	.@{filterPrefixCls}-header-text{
		display: inline-block;
		overflow: hidden;
		max-width: calc(~'100% - '72px);
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.selector{
	// position: absolute;
	// z-index: 100;
	position: relative;
	z-index: 2;
	width: 100%;
	overflow-y: hidden;

	.ph-list-item.active{
		color: @brand-primary;
	}
}

// checkbox filter
.ph-checkbox-filter{
	.selector{
		z-index: 9;
		height: auto;

		.menu{
			min-height: 100vh;

			&.main{
				width: 35%;
			}

			&.sub{
				left: 35%;
				width: 65%;
				padding-bottom: 25%;
				.item{
					border-bottom: 1px solid #e1e1e1;
				}
			}

			.item{
				height: 44px;
				line-height: 44px;
				white-space: nowrap;
				font-size: 15px;

				&.disabled{
					color: #e2e2e2;
					pointer-events:none;
				}
			}
		}
	}

	.ph-submit-field{
		position: absolute;
		z-index: 10;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		padding: 15px;

		.ph-button{
			margin: 0;
		}
	} 
}