@import "../public";

@popoverPrefixCls: ph-popover;

.@{popoverPrefixCls}{
	height: 0;
	visibility: hidden;
	font-size: @popover-font-size;
	color: @popover-color;
	pointer-events: none;
}

.@{popoverPrefixCls}.show{
	position: static;
	visibility: visible;
	pointer-events: auto;
}

.@{popoverPrefixCls}-top{
	.@{popoverPrefixCls}-arrow{
		margin-top: -@popover-arrow-size;
		.transform(translateX(-50%) rotate(225deg));
	}
}
.@{popoverPrefixCls}-bottom{
	.@{popoverPrefixCls}-arrow{
		margin-top: 1PX;
		.transform(translateX(-50%) rotate(45deg));
	}
}
.@{popoverPrefixCls}-left{
	.@{popoverPrefixCls}-arrow{
		margin-left: -@popover-arrow-size;
		.transform(translateY(-50%) rotate(135deg));
	}
	.@{popoverPrefixCls}-main{
		margin-left: calc(@popover-padding-value - @popover-arrow-size/2);
	}
}
.@{popoverPrefixCls}-right{
	.@{popoverPrefixCls}-arrow{
		margin-left: 1PX;
		.transform(translateY(-50%) rotate(-45deg));
	}
	.@{popoverPrefixCls}-main{
		margin-left: calc(@popover-arrow-size/2 - @popover-padding-value);
	}
}

.@{popoverPrefixCls}-arrow{
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
	width: @popover-arrow-size;
	height: @popover-arrow-size;
	background-color: @popover-background;
	.border-radius(@popover-arrow-radius);
}

.@{popoverPrefixCls}-main{
	position: absolute;
	top:0;
	left:0;
	z-index: 99;
	padding: @popover-padding;
}

.@{popoverPrefixCls}-content{
	min-width: @popover-min-width;	
	background-color: @popover-background;
	.border-radius(@popover-radius);
}

.@{popoverPrefixCls}-list{
	padding: @popover-list-padding;
	white-space: nowrap;
}

.@{popoverPrefixCls}-item{
	height: @popover-item-height;
	line-height: @popover-item-height;
	padding: @popover-item-padding;
	border-bottom: @popover-item-border;
	text-align:center;
	&:last-child{
		border-bottom: none;
	}
}

.@{popoverPrefixCls}-text{
	padding: @popover-text-padding;
	line-height: @popover-text-line-height;
}