.popup-shadow{
	top: 0;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 9;
}

.popup-top .popup-content{
	top: 0;
}

.popup-bottom .popup-content{
	bottom: 0;
}

.popup-content, 
.popup-shadow{
	position: fixed;
	left: 0;
	width: 100%;
}

.popup-content{
	z-index: 10;
}

// .popup-header{
// 	position: relative;
// 	z-index: 11;
// }

.popup-main{	
	.popup-list{
		padding: @popup-main-list-padding;
		background-color: @white;
		.border(@border-color);
		.popup-item{
			padding: @popup-list-padding;
			.border-bottom(@popup-list-border);
			font-size: @font-size-small;
			color: @popup-list-color;
			&:last-child{
				.border-bottom(transparent);
			}
		}
		.popup-item.active, 
		.popup-item:active{
			.border-bottom(@popup-list-active-border);
			color: @popup-list-active-color;
		}
	}

	.popup-action-sheet{
		width: @action-sheet-width;
		margin: @action-sheet-margin;
		.popup-item,
		.popup-operate{
			padding: @action-item-padding;
			background-color: @white;
			font-size: @font-size-base;
			text-align: center;
		}
		.popup-item{
			.border-bottom(@gray-lighter);
			&:first-child{
				border-radius: @action-item-radius @action-item-radius 0 0;
			}
			&:last-child{
				.border-bottom(transparent);
				border-radius: 0 0 @action-item-radius @action-item-radius;
			}
		}
		.popup-tip{
			color: @action-tip-color;
		}
		.popup-delete{
			color: @brand-primary;
		}
		.popup-operate{
			margin-top: @action-operate-margin;
			border-radius: @action-item-radius;
			color: @action-operate-color;
		}
	}
}

