@import "../public";
@pullUpPrefixCls: ph-pullup;

.@{pullUpPrefixCls}{
	text-align: center;
}

.@{pullUpPrefixCls}-tip{
    padding: @loading-list-padding;
    font-size: @loading-list-font-size;
    color: @loading-list-color;

    .gfs-icon-loading:before{
    	display: inline-block;
        font-size: @loading-list-icon-size;
        .animation(rotate 1s linear infinite);
    }
}