.ph-swipe{
    position: relative;
    overflow: hidden;
    .ph-swipe-content{
        position: relative;
        z-index: 1;
        .transition(transform .2s);
    }
}

.ph-swipe-btns{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    .btn{
        height: 100%;
        border-radius: 0;
    }
}
