.ph-tabs{
	.ph-tab-nav{
		position: relative;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	.ph-tab-panel{
		display: none;
		width: 100%;
		&.active {
			display: block;
		}
	}		
}

.ph-tabs-vertical{
	margin: 0;

	.ph-tab-navs{
		padding: 0;
	}

	.ph-tab-bd{
		position: relative;
		z-index: 1;
		padding: 0;
	}
}
