@import "../public";

@toastPrefixCls: ph-toast;

.@{toastPrefixCls}-shadow,
.@{toastPrefixCls}-main{
	position: fixed;
	left: 0;
	width: 100%;
}

.@{toastPrefixCls}-shadow{
	top: 0;
	height: 100%;
	z-index: 99;
	position: absolute;
	background-color: rgba(0,0,0,0.01);
}

.@{toastPrefixCls}-main{
	padding:@toast-main-padding;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
	text-align: center;
}

.@{toastPrefixCls}-content{
	display: inline-block;
	min-width: @toast-min-width;
	padding: @toast-padding;
	background-color: @toast-background;
	.border-radius(@toast-radius);
	font-size: @toast-font-size;
	color: @white;
}

.@{toastPrefixCls}-rect{
	position: relative;
	width: @toast-rect-width;
	height: @toast-rect-height;
	padding: 0;
}

.@{toastPrefixCls}-body{
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	.transform(translate(-50%, -50%));
}

.@{toastPrefixCls}-body{
	.gfs-icon{
		display: block;
		margin: 0 auto;
	}

	p{
		margin-top: @toast-icon-margin;
		line-height: 1;
	}
}
