.ph-toast-shadow{
	position: absolute;
	background-color: rgba(0,0,0,0);
}

.ph-toast-main{
	text-align: center;
}

.ph-toast-content{
	display: inline-block;
	padding: @toast-padding;
	background-color: @toast-background;
	border-radius: @toast-radius;
	color: @toast-color;
}