/* index */
body{
    background-color: #fff;
}
hr{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1PX solid #f0f0f0;
}

.wrapper{
    // overflow: hidden;
    position: relative;
    max-width: 1200PX;
    margin: 0 auto;
}

header{
    position: fixed;
    overflow: auto;
    width: 150PX;
    height: 100%;
    border-right: 1PX solid #ccc;
    text-align: right;
}

header::-webkit-scrollbar{
    display:none;
}

.logo{
    padding: 32px 0;
    margin-bottom: 24px;
    font-size: 36px;
    background-color: #1d8fe3;
    text-align: center;
    color: #fff;
}

nav h2, nav h3, nav li{
    padding-right: 48px;
}

nav h2{
    font-size: 36px;
}

nav li{
    line-height: 60px;
    font-size: 28px;
}
nav li.active{
    border-right: 6px solid #1d8fe3;
}
nav li:hover a,
nav li.active a{
    color: #1d8fe3;
}

.main-nav{
    margin-bottom: 32px;
}

.main{
    margin-left: 160PX;
    padding: 0 20px;
}

.main > section{
    padding: 20px;
    border-bottom: 1PX solid #ccc;
    font-size: 28px;
}

.main > section > h2{
    border-bottom: 1PX solid #ececec;
    line-height: 48px;
    font-size: 32px;
}

.main > section a.link{
    line-height: 60px;
    text-decoration: underline;
    color: #4ea3d4;
}

.demo-list > li{
    overflow: hidden;
    // position: relative;
    margin-top: 20px;
}

.demo-list > li h3,
.main > section > h3{
    line-height: 48px;
    font-size: 28px;
}

.main > section > p{
    line-height: 60px;
    color: #666;
}

.demo-frame{
    float: left;
    overflow: auto;
    position: relative;
    width: 377PX;
    min-height: 150PX;
    max-height: 667PX;
    border: 1PX solid #ececec;
    background-color: #f8f8f8;
}
.demo-frame.middle-height{
    height: 200PX;
}
.demo-frame.large-height{
    height: 400PX;
}
.demo-frame.full-height{
    height: 599PX; /* 667-68 */
}

.content{
    min-height: 80PX;
    padding: 20px 0 1px;
}

.code-frame{
    float: right;
    width: 610PX;
    overflow-x: hidden;
}

 .code-frame pre{
    margin-left: -240PX;
    padding: 0;
    font-size: 24px;
    // background-color: #f7f7f7;
}

/* extra */
.ph-page-white{
    background-color: #fff;
}
.content>.ph-button:not(.ph-button-block){
    margin: 0 20px 20px 0;
}

.content .ph-button-lg,
.content .ph-multi-group{
    float: left;
}
.content .ph-button-lg:nth-child(even){
    margin-right: 0;
}

.content>.ph-button-block,
.content .ph-row,
.content .ph-input,
.content .ph-textarea-field,
.ph-search-bar{
    margin-bottom: 20px;
}

.col-demo{
    background-color: #ccc;
    text-align: center;
}

.ph-dialog-shadow,
.ph-dialog-main,
.ph-toast-shadow,
.ph-toast-main,
.ph-popup-shadow,
.ph-popup-main,
.ph-tabbar,
.ph-filter-container-fixed,
.ph-filter-container-shadow{
    position: absolute;
}

.ph-filter-selector{
    height: calc(100% - 90px);
}

.ph-dialog-body ul{
    padding-left: 32px;
}
.ph-dialog-body li{
    list-style: outside decimal;
}

@media (max-width: 1200px){
    header{
        display: none;
    }
    .main{
        margin-left: 0;
    }
    .code-frame{
        width: calc(100% - 387PX);
    }
}
@media (max-width: 885px){
    .demo-frame{
        float: none;
        margin-bottom: 20px;
    }
    .code-frame{
        float: none;
        width: 100%;
    }
}
@media (max-width: 750px){
    .main, .main > section{
        padding: 0;
    }
    .demo-frame{
        width: 100%;
        min-width: 320PX;
    }
    .main > section > h2, .demo-list > li h3{
        padding-left: 20px;
    }
    .content{
        min-height: 100px;
    }
}
