*{font-family: 'Microsoft Yahei'}
/* common */
.wrapper{
    overflow: hidden;
    min-width: 720px;
    max-width: 1200px;
    margin: auto;
}

/* nav */
.header{
    margin-bottom: 15px;
    background-color: #ff6633;
}
.logo, .nav-list, .nav-list>li{
    float: left;
}
.nav a{
    display: block;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    color: #fff;
}
.logo a{
    padding-right: 20px;
    color: #fff;
}
.nav-list a:hover{
    text-decoration: underline;
}
.nav-list a.active{
    background-color: #ee5511;
}
.nav-list a{
    padding:0 20px;
}
.github{
    float: right;
}

/* index */
.container h1{
    margin: 15px 0;
}
.block .title, .module h3{
    padding: 8px 15px;
    border-left: 4px solid #ff6633;
    border-bottom: 1px solid #e2e2e2;
    font-size: 18px;
}
.block .item{
    margin: 15px 0;
}
.item-name{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 800;
}
.item-content a{
    text-decoration: underline;
    color: #4078c0;
}
.item-content pre{
    padding-top: 15px;
}
.item-content pre, .module-code{
    background-color: #f7f7f7;
    border-radius: 5px;
}
.block.directory .item-content{
    padding-left: 25px;
    line-height: 1.8;
}
.item-title{
    display: inline-block;
    min-width: 184px;
}
.footer{
    background-color: #ff6633;
    text-align: center;
}
.footer a{
    display: inline-block;
    background-color: #ee5511;
    padding: 15px;
    color: #fff;
}
.copy-right{
    text-align: center;
    font-size: 14px;
}
.copy-right a{
    display: inline-block;
    padding: 8px 0 15px;
    color: #4078c0;
}

/* doc */
.left-box{
    position: fixed;
    width: 200px;
    padding: 15px 0;
    background-color: #f7f7f7;
}
.doc-menu li{
    line-height: 2;
}
.doc-menu li a{
    padding:0 15px;
    display: block;
}
.doc-menu li a:hover{
    border-left: 2px solid #ff6633;
    background-color: rgba(255,102,51,.5);
    color: #fff;
}
.sub-menu a{
    margin-left: 15px;
}

.right-box{
    margin-left: 215px;
}
.module-content{
    margin: 25px 0;
}
.module-content .ph-button,
.module-content .ph-label,
.module-content .ph-badge,
.module-content .ph-star{
    margin: 0 8px 8px 0;
}
.module-code{
    overflow-x: hidden;
    background-color: #f7f7f7;
}
.module pre[class*="language-"]{
    margin-left: -250px;
    margin-bottom: 25px;
    padding: 0;
    background-color: transparent;
}

#grid div[class*="col"]{
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
}

